.lastOnline {
  font-size: 16px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: right;
}
.card-meta-description {
  margin-top: 16px;
  line-height: 1.5;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  > div {
    flex-wrap:wrap;
    flex-direction: row;
    flex-grow: 2;
  }
}

.card-avatar {
  display: inline;
  margin-left: 36px;
  margin-top: 20px;
}
